<!DOCTYPE html>
<html>
    <head>
        <title>Consuming my Api</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="product.js" type="script"></script>
    </head>

    <body>
       <h1>Choose type</h1>
        
        <select id="selectProductType">
	        <option value="BREAKFAST">BREAKFAST</option>
	        <option value="LUNCH">LUNCH</option>
	       <option value="DINNER">DINNER</option>
	       
        </select>
        <input type="button" id="myBtn" value="showDetail"/>
        
        
        <div id = "dataDiv">append here</div>
        
 
        
    </body>
</html>